# Arquivos e pastas que o Unity recria automaticamente
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Outras ferramentas
.vscode/
.idea/